<acme-header></acme-header>
<md-content ng-cloak>

    <md-content flex layout-padding>
        <p> Welcome to my To Do App! You can add, delete or edit a to do. </p>
    </md-content>

    <div layout="row" layout-padding>
        <md-content layout-padding layout-align="left" layout-gt-sm="row" class="margin-left md-no-momentum">
            <md-input-container class="md-icon-float md-block">
                <label>{{mainCtrl.label}}</label>
                <input ng-model="mainCtrl.todo.content" ng-keypress="mainCtrl.addToDo($event)">
            </md-input-container>
        </md-content>
        <md-content>
            <section layout-sm="column" layout-align="center center" layout-wrap>
                <md-button class="md-raised md-primary" ng-click="mainCtrl.addToDo()" ng-disabled="!mainCtrl.todo.content">
                    {{mainCtrl.buttonTitle}}
                </md-button>
            </section>
        </md-content>
    </div>

    <md-content ng-show="mainCtrl.todos">
        <md-list class="todo_list" flex>
            <md-subheader class="md-no-sticky">{{mainCtrl.todoList.label}}</md-subheader>
            <acme-todo ng-show="mainCtrl.todos" ng-repeat="todo in mainCtrl.todos track by $index"
                       text="{{todo.content}}" index="{{$index}}"></acme-todo>
        </md-list>
    </md-content>


</md-content>